:root {
  --BGcolor: #212121;
  --cardColor: #161616;
  --darkGray: #0c0c0c;
  --colorActive: #000000;
  --color: #dddddd;
  --goodAnswerColor: #23a348;
  --wrongAnswerColor: #b43232;
}
* {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: sans-serif;
}
html {
  background-color: var(--BGcolor);
  display: flex;
  justify-content: center;
}
body {
  text-align: center;
}
button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
div#cards {
  width: 390px;
}
.card {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: var(--cardColor);
  border-radius: 25px;
  margin: 10px;
  transition: 0.3s;
  box-shadow: 5px 5px 20px var(--darkGray);
  padding: 15px;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 20px var(--darkGray);
}
.card:active {
  transform: scale(1.01);
  box-shadow: 7px 7px 20px var(--darkGray);
  background-color: var(--colorActive);
}
.area_style1 {
  background-color: #972e2e;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style2 {
  background-color: #c55c93;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style3 {
  background-color: #893795;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style4 {
  background-color: #3f49ab;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style5 {
  background-color: #2394a3;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style6 {
  background-color: #c1bf2d;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_style7 {
  background-color: #cd5c35;
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_good_answer {
  background-color: var(--goodAnswerColor);
  box-shadow: 5px 5px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_good_answer:hover {
  box-shadow: 10px 10px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_good_answer:active {
  box-shadow: 7px 7px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
  background-color: var(--goodAnswerColor);
}
.area_wrong_answer {
  background-color: var(--wrongAnswerColor);
  box-shadow: 5px 5px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_wrong_answer:hover {
  box-shadow: 10px 10px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_wrong_answer:active {
  box-shadow: 7px 7px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
  background-color: var(--wrongAnswerColor);
}
div#round_counter {
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 15px#2394a3;
}
