:root {
  --BGcolor: #212121;
  --cardColor: #161616;
  --darkGray: #0c0c0c;
  --colorActive: #000000;
  --color: #dddddd;
  --goodAnswerColor: #23a348;
  --wrongAnswerColor: #b43232;
}
* {
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: sans-serif;
}
html {
  background-color: var(--BGcolor);
  display: flex;
  justify-content: center;
}
body {
  text-align: center;
}
main {
  margin-bottom: 20px;
}
footer {
  background-color: var(--BGcolor);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
h1 {
  margin: 20px 0;
}
ul {
  list-style: none;
  margin: 20px 0;
}
button {
  font-weight: bold;
  border: none;
  font-family: monospace;
  background-color: var(--cardColor);
  margin: 25px 10px;
  cursor: pointer;
  box-shadow: 0 0 20px #2394a3;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  transition: 0.5s;
  font-size: 17px;
  text-transform: uppercase;
}
button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 27px #2394a3;
}
button:active {
  transform: scale(1.01);
  box-shadow: 0 0 25px #2394a3;
}
div#cards {
  width: 390px;
}
.card {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: var(--cardColor);
  border-radius: 25px;
  margin: 10px;
  transition: 0.3s;
  box-shadow: 5px 5px 20px var(--darkGray);
  padding: 15px;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 10px 10px 20px var(--darkGray);
}
.card:active {
  transform: scale(1.01);
  box-shadow: 7px 7px 20px var(--darkGray);
  background-color: var(--colorActive);
}
.highlighted_area_style {
  box-shadow: inset 5px 5px 50px #ffffff40;
}
.area_good_answer {
  background-color: var(--goodAnswerColor);
  box-shadow: 5px 5px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_good_answer:hover {
  box-shadow: 10px 10px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_good_answer:active {
  box-shadow: 7px 7px 20px var(--goodAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_wrong_answer {
  background-color: var(--wrongAnswerColor);
  box-shadow: 5px 5px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_wrong_answer:hover {
  box-shadow: 10px 10px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
}
.area_wrong_answer:active {
  box-shadow: 7px 7px 20px var(--wrongAnswerColor), inset 5px 5px 50px #ffffff40;
}
div#round_counter {
  font-size: 50px;
  text-shadow: 0 0 15px#2394a3;
}
div#stats {
  text-shadow: 0 0 15px#2394a3;
}
